.outer{
    width: 100%;
    
}
.panel{
    border:solid 1px #ccc;
    width: 500px; height: 500px;
    box-sizing: content-box;
}

.panel .tile{
    width: calc(500px / 3 - 2px);
    height: calc(500px / 3 - 2px);
    border:solid 1px #ccc;
}