.panel{
    border:solid 1px #ccc;
    width: 450px; height: 450px;
    box-sizing: content-box;
}

.panel .tile{
    width: 148px;
    height: 148px;
    border:solid 1px #ccc;
    background-color: #eee;
}

.panel .tile-empty{
    background-color: #fff;
    border:solid 1px transparent;
}

.userInfo{
    margin: 20px 0px;
}
.userInfo input[type=text]{
    border: none; border-bottom: solid 2px #ccc;
    width: 150px;
    padding: 5px;
}
.userInfo input[type=text]:focus{
    outline: none;
}
.userInfo .btn-start{
    margin: 0px 20px; height: 25px;
    border:none; border-radius: 3px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.title{
    width: 450px;
}