.userInfo{
    margin: 20px 0px;
}
.userInfo input[type=text]{
    border: none; border-bottom: solid 2px #ccc;
    width: 150px;
    padding: 5px;
}
.userInfo input[type=text]:focus{
    outline: none;
}
.userInfo .btn-start{
    margin: 0px 20px; height: 25px;
    border:none; border-radius: 3px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
