
.flex{
    display: flex;
}

.flex-flow-col{
    flex-flow: column;
}

.flex-flow-wrap{
    flex-flow: wrap;
}

.flex-jus-center{
    justify-content: center;
}

.flex-jus-space-btw{
    justify-content: space-between;
}

.flex-jus-space-arround{
    justify-content: space-around;
}

.flex-ali-center{
    align-items: center;
}

.outer{
    width: 100%;
}

.ishidden{
    display: none;
}